@media (min-width: 768px) {
  .bg-container {
    background-image: linear-gradient(#ff6e7f, #bfe9ff);
    height: 500px;
    width: 500px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'roboto';
  }
  .heading {
    color: #0f172a;
    text-align: center;
    font-size: 30px;
  }
  .count-para {
    color: #334155;
    font-size: 20px;
  }
  .button {
    color: #1e293b;
    border-radius: 5px;
    background-color: white;
    border-width: 0px;
  }
  .para {
    font-size: 15px;
    color: #334155;
  }
}
